<section ng-controller="AddContactController">
	<div class="content row">
		<div class="col-sm-12 item">
			<div class="contact text-center">
				<h2>Add in New Contact</h2>
				<form name="addForm" ng-submit="addContact()"
					novalidate>
				
					<fieldset>
						
						<input type="text" name="firstname" placeholder="First Name"
      						ng-model="contact.firstname">

      					<input type="text" name="lastname" placeholder="Last Name"
      						ng-model="contact.lastname">

      					<input type="text" name="phone" placeholder="Phone Number"
      						ng-model="contact.phone">

    					<input ng-model="contact.chosenPlace" placeholder="Enter Address" googleplace/></div>
						<div>{{contact}}</div>

						<button type="submit" class="btn"
    						>Add Contact</button>
					</fieldset>	
		
				</form>
			</div>
		</div>
	</div>
</section>
