<section>
	<div class="content row">
		<div class="col-sm-6 col-sm-offset-3 item jumbotron">
			<div class="contact text-center">
				<h2>Edit {{editcontact.firstname}} {{editcontact.lastname}}</h2>
				<form name="updateForm" ng-submit="updateContact()" novalidate>
						
						<div class="form-group">
							<input type="text" name="firstname" value="{{editcontact.firstname}}" class="form-control"
      						ng-model-options="{ updateOn: 'blur' }"
      						ng-model="editcontact.firstname">
						</div>
						
						<div class="form-group">
							<input type="text" name="lastname" value="{{editcontact.lastname}}" class="form-control"
      						ng-model-options="{ updateOn: 'blur' }"
      						ng-model="editcontact.lastname">
						</div>

						<div class="form-group">
							<input type="text" name="email" value="{{editcontact.email}}" class="form-control"
      						ng-model-options="{ updateOn: 'blur' }"
      						ng-model="editcontact.email">
						</div>

						<div class="form-group">
							<input type="text" name="phone" value="{{editcontact.phone}}" class="form-control"
      						ng-model-options="{ updateOn: 'blur' }"
      						ng-model="editcontact.phone">
						</div>
						
						<div><a ng-click="hideAddress=true">Edit Address</a></div>
						<div ng-show="hideAddress">
							<div class="form-group">
								<input 
	      							ng-model="updateAddress.chosenPlace" class="form-control" googleplace/>
							</div>
						</div>	

					<button type="submit" id="submit" class="btn">Update Contact</button>

				</form>
			</div>
		</div>
	</div>
</section>
