<section>
	<div class="content row">
		<div class="col-sm-6 col-sm-offset-3 item jumbotron">
				<div class="contact text-center">
					<h3>{{contact.firstname}} {{ contact.lastname }}</h3>
					<p>{{contact.address}}</p>
					<p>{{contact.phone}}</p>
					<p><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
				</div>
				<div id="map"></div>
				<div class="edit text-center pull-left">
					<br/>
					<a ng-href="#/edit/{{contact.$id}}">Edit Contact</a>
				</div>
				<div class="remove text-center pull-right">
					<br/>
					<a href="#/remove/{{contact.$id}}">Remove Contact</a>
				</div>
		</div>
	</div>	
</section>